body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #D0CCD0;
  height: 50px;
  margin: 0 0 20px 0;
}

.nav p {
  font-size: 16px;
  color: black;
}

li {
  list-style-type: none;
}

.card-container {
  margin: 20px auto;
}

.event-card {
  width: 300px;
  border: 1px solid black;
  padding: 50px;
  margin: 30px auto;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  width: 400px;
  margin: 0 auto;
}

.error {
  color: red;
}

.founders-card {
  width: 500px;
  margin: 30px auto;
  border: 1px solid black;
  padding: 20px;
}

.form-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.form-container h2 {
  padding: 20px;
}

.form-container p {
  text-align: left;
  font-size: 16px;
  color: #011638;
}

input {
  margin-bottom: 15px;
  padding: 0.5rem;
  font-size: 14px;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

/* input.error {
  border-color: red;
} */